Package: com.insanj.clearforprowidgets
Name: Clear for ProWidgets
Pre-Depends: firmware (>= 7.0)
Depends: mobilesubstrate, cc.tweak.prowidgets
Version: 1.0
Architecture: iphoneos-arm
Description: Use Clear on the fly.
Maintainer: Julian Weiss <insanjmail@gmail.com>
Author: Julian (insanj) Weiss
Section: Addons (ProWidgets)
Icon: file:///Library/PreferenceBundles/CWPrefs.bundle/icon@2x.png
