<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionButtonText</key>	<string>Add Task</string>
	<key>items</key> <array>
		<dict>
			<key>key</key>	  <string>item</string>
			<key>title</key>	<string>Add task to current list...</string>
			<key>type</key>	 <string>textField</string>
			<key>icon</key>	 <string>plus</string>
		</dict>
	</array>
</dict>
</plist>
